# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

### Objectives:
- Understand key data science libraries and their usage
- Learn about data visualization tools in Python
- introduction to machine learning concepts and algorithms
- Explore best practices in data analysis

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

| Data Science Tools |
|--------------------|
| Python             |
| Jupyter Notebook   |
| R                  |
| SQL

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
# This a simple arithmetic expression to multiply then add integers
result = (3*4)+5
result

17

In [16]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

## Lakshmi Holla
Rayyan Malik